<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../Assets/styles.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Music</title>
  <link rel="icon" type="image/x-icon" href="../Assets/imgs/favicon.ico">
</head>
<body>
  <header class="headDiv">
    <a href="../index.html" class="aImg">
      <img src="../Assets/imgs/projectnevermore.png" alt="Shank's Co." class="imgHead">
    </a>
    <div class="headDivSpacer"></div>
    <h1 class="mainHeader">Shank's Co.</h1>
        <nav class="navigation">
            <ul class="navList">
              <li><a class="a" href="../MainWeb/products.html">Products</a></li>
              <li><a class="a" href="../MainWeb/about.html">About</a></li>
              <li><a class="a" href="../MainWeb/contact.html">Contacts</a></li>
              <li><a class="a" href="../MainWeb/games.html">Games</a></li>
              <li><a class="a" href="../MainWeb/music.html">Music</a></li>
              <li><a href="../MainWeb/LoginPages/logIn.html"><div class="logIn">Log In!</div></a></li>
              <li><a href="../MainWeb/LoginPages/signUp.html"><div class="signUp">Sign Up!</div></a></li>
            </ul>
        </nav>
  </header>
  <h1>Coming Soon</h1>
  <footer class="footDiv">
    <div class="footText">
      <p>Copyright &copy; 2026 Shank's Co. All rights reserved.</p>
    </div>
  </footer>
  <script src="../Assets/scripts/usernamePlace.js"></script>
  <script src="../Assets/scripts/logout.js"></script>
</body>
</html>