body {
    margin: 0;
    padding: 20px;
    background: #0f0f0f;
    font-family: Arial, sans-serif;
}

#gallery {
    display: grid;

    /* 13 cards per row */
    grid-template-columns: repeat(13, 1fr);

    gap: 10px;
}

#gallery img {
    width: 100%;
    aspect-ratio: 3 / 4;
    object-fit: contain;
    background: white;
    border-radius: 1px;
}
