body{
  background-color: aliceblue;
}
.headDiv{
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  background-color: rgb(40,40,40);
  color: aliceblue;
  z-index: 1000;
}
main{
  margin-top: 150px;
}
.mainHeader{
  display: inline;
  width: 12.5%;
  font-size: 200%;
}
.imgHead{
  display: inline;
  float: left;
  width: 100px;
  height: 100px;
  transition: transform 0.2s ease-in, 0.2s ease-out;
}
.imgHead:hover{
  transform: scale(1.1);
}
.navList{
  flex: 1;
  list-style: none;
  text-decoration: none;
}
.navList li .a{
  display: inline-block;
  color: aliceblue;
  text-decoration: none;
  padding: 5px;
  transition: transform 0.2s ease-in, 0.2s ease-out;
  font-size: 120%;
}
.navList li{
  float: left;
  padding: 10px;
  margin-top: 20px;
}
.navList li .a:hover{
  background-color: aliceblue;
  color: rgb(40, 40, 40);
  
}
.footDiv{
  display: inline-block;
  margin-top: 150px;
  height: 150px;
  width: 100%;
  position: relative;
  background-color: rgb(40,40,40);
  color: aliceblue;
}
.footText{
  float: left;
  text-align: center;
  font-size: 150%;
  padding-top: 50px;
  display: inline;
}
.navigationFOOTER{
  float: right;
  width: 150px;
  height: 150px;
  transition: transform 0.2s ease-in, 0.2s ease-out;
}
#homeHead1{
  text-align: center;
  font-size: 300%;
}
#homeHead2{
  text-align: center;
  font-size: 300%;
}
#homeHead3{
  text-align: center;
  font-size: 300%;
}
#homeP1{
  text-align: center;
  font-size: 150%;
}
#homeP2{
  text-align: center;
  font-size: 150%;
}
#homeLinks{
  list-style: none;
  text-align: center;
  font-size: 150%;
  background-color: rgb(40, 40, 40);
}
#homeLinks li:hover{
  background-color: aliceblue;
  
  color: rgb(40, 40, 40);
}
#homeLinks li a{
  color: aliceblue;
  text-decoration: none;
  padding: 15px;
  transition: transform 0.2s ease-in, 0.2s ease-out;
}
#homeLinks li a:hover{
  color: rgb(40, 40, 40);
  text-decoration: none;
  padding: 15px;
  transition: transform 0.2s ease-in, 0.2s ease-out;
}
#homeLinks li{
  color: aliceblue;
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  margin: 15px;
  transition: transform 0.2s ease-in, 0.2s ease-out;
}
#contactUs{
  text-align: center;
  font-size: 300%;
}
#contactP{
  text-align: center;
  font-size: 150%;
}
#contactForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(40, 40, 40);
  border-radius: 5px;
  padding: 20px;
}
#contactForm input, #contactForm textarea{
  width: 300px;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  
}
#contactForm #submit{
  background-color: lightgreen;
  width: 300px;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  
}
#contactForm #submit:hover{
  background-color: green;
  color: white;
  cursor: pointer;
}
.logIn, .signUp{
  float: left;
  color: aliceblue;
  background-color: navy;
  width: fit-content;
  height: fit-content;
  font-size: 100%;
  cursor: pointer;
  z-index: 1001;
  padding: 10px;
  border: none;
  border-radius: 5px;
  transform: translateY(-10px);
  transition: transform 0.2s ease-in, 0.2s ease-out;
}
.logIn:hover, .signUp:hover{
  background-color: blue;
  color: white;
  transform: scale(1.1) translateY(-10px);
}

.logInForm, #signUpForm{
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(40, 40, 40);
  color: aliceblue;
}
.logInForm input, #signUpForm input{
  width: 300px;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
}
.logInForm #submit, #signUpForm #submit{
  background-color: lightgreen;
  width: 300px;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
}
.logInForm #submit:hover, #signUpForm #submit:hover{
  background-color: green;
  color: white;
  cursor: pointer;
}
#productsHead, #gamesHead{
  text-align: center;
  font-size: 300%;
}
#productsP, #gamesP{
  text-align: center;
  font-size: 150%;
}
#comingSoonP{
  text-align: center;
  font-size: 500%;
  color: red;
  font-weight: bold;
}
a{
  text-decoration: none;
}
#aboutHead{
  text-align: center;
  font-size: 300%;
}
#aboutP{
  text-align: center;
  font-size: 150%;
} 
#aboutMission{
  text-align: center;
  font-size: 150%;
}
#error{
  color: red;
  font-weight: bold;
  font-size: 150%;
  position: fixed;
  width: 30%;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.row{
  display: flex;
}
.container {
  flex: 1;
  position: relative;
  display: inline-block;
  width: 250px;
  height: 250px;
  margin-left: 5%;
}
.gameDiv {
  position: relative;
  width: 250px;
  height: 250px;
  background-color: rgba(40, 40, 40, 0.8);
  border-radius: 20px;
  transition: transform 0.3s ease-in, 0.3s ease-out;
  z-index: 2;
  text-align: center;
  text-decoration: none;
  color: white;
}

.gameImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 250px;
  border-radius: 20px;
  transition: transform 0.3s ease-in, 0.3s ease-out;
  z-index: 1;
}

.container:hover .gameImage {
  transform: scale(1.1);
}

.container:hover .gameDiv {
  transform: scale(1.1);
  background-color: rgba(40, 40, 40, 0.4);
}
@media screen and (max-width: 960px) {
  .logIn{
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-align: center;
  }
  .signUp{
    position: fixed;
    bottom: 10px;
    right: 100px;
    text-align: center;
  }
}
@media screen and (max-width: 750px) {
  .headDiv {
    flex-direction: column;
    height: auto;
  }

  .aImg {
    display: block;
    width: 100%;
    flex: none;
  }

  .imgHead {
    display: block;
    width: 100%;
    height: 125px;
    object-fit: cover; /* optional, keeps it looking nice */
  }

  .mainHeader {
    width: 100%;
    text-align: center;
    font-size: 120%;
  }
  #homeP1, #homeP2, #homeP3{
    font-size: 110%;
  }
  #homeHead1, #homeHead2, #homeHead3{
    font-size: 200%;
  }
}