.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: lightblue;
    margin: 20px;
}
.box {
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 10px;
}